_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
node_modules/

# Gem
Gemfile.lock

# Drafts / archives
_posts/_draft/
_posts/_archive/

# OS / IDE
.DS_Store
*/.DS_Store
*/*/.DS_Store
.vscode/
*.log
