---
layout: page
title: "Categories"
description: ""
header-img: "img/about-bg.jpg"
---

<div class="post-container">
  <div id="archives">
    <div class="posts-grid">
      {% assign category_name = page.url | remove: '/categories/' | remove: '/' %}
      {% for post in site.posts %}
        {% if post.categories contains category_name %}
          <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% endif %}
              <p class="post-meta">
                {{ post.date | date: "%d %b %Y" }}
              </p>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
