---
layout: page
title: "Categories"
description: ""
header-img: "img/about-bg.jpg"
---

<div class="post-container">
  <div id="archives">
    <div class="posts-grid">
      {% assign category_name = page.url | remove: '/categories/' | remove: '/' %}
      {% for post in site.posts %}
        {% if post.categories contains category_name %}
          <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                <div class="post-content-preview">
                    {% if post.lang == 'en' %} {{ post.content | strip_html | truncate:300 }}
                    {% else %} {{ post.content | strip_html | truncate:200 }} {% endif %}
                  </div>
              {% endif %}
              <p class="post-meta">
                Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{%
                endif %} on {{ post.date | date: "%B %-d, %Y" }}
              </p>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>